<div class="container">
  <h2 class="page-title">
    about me
  </h2>

  <article>
    <p>A freelance software developer and educator who resides in Accra, Ghana.
      I have been professionally building and maintaining software
      applications including enterprise solutions for the past 5 years. In these past few years, I have had the
      opportunity to work with diverse teams to design, build and maintain complex software solutions.
      Similarly, I have started and completed several projects individually with success.

    </p>
    <p>Started off my career as a desktop developer, I have gradually transitioned into a full-stack developer,
      currently using Angular and C#/Java to create wonderful web and mobile applications. I occasionally teach
      newbies programming.

    </p>
    <p>
      I'm highly focused and determined to provide high value solutions to challenging problems using modern
      tools, technologies and paradigms.
    </p>
    <!-- <p>
      I'm a freelance software developer who resides in Accra, Ghana.
      I have been professionally building software applications for the past 5+ years.
      I have worked on both desktop and mobile applications specifically targeting Windows and Android OS respectively.
      However, for the last two years, majority of my works have been on web applications either as a front-end or back-end
      developer and occasionally as a full-stack developer.
    </p>

    <p>I have had the opportunity and experience of working on a couple of projects single-handedly and also joined teams to work on
       and maintain enterprise solutions.
       I like to solve problems.
    </p> -->
    <p>Some of the technologies I use include</p>
    <ul>

      <li>Angular</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Ionic | Capacitor</li>
      <li>C#</li>
      <li>Java | JavaFX</li>
    </ul>
  </article>
</div>
