<ul class="navigation">
  <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" ><i class="fa fa-home" aria-hidden="true"></i></a></li>
  <li><a routerLink="/about" routerLinkActive="active-link"><i class="fa fa-info" aria-hidden="true"></i></a></li>
  <li><a routerLink="/projects" routerLinkActive="active-link"><i class="fa fa-suitcase" aria-hidden="true"></i></a></li>
  <li><a href="https://github.com/sammyach" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
  <li><a href="mailto:sammyachman@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
</ul>
