<ul class="navigation">
  <!-- <li><a routerLink="/"> <span>👋</span></a></li> -->
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" > <li><i class="fa fa-home" aria-hidden="true"></i></li></a>
  <a routerLink="/about" routerLinkActive="active-link"><li><i class="fa fa-info" aria-hidden="true"></i></li></a>
  <!-- <li><i class="fa fa-cogs" aria-hidden="true"></i></li> -->
  <a routerLink="/projects" routerLinkActive="active-link"><li><i class="fa fa-suitcase" aria-hidden="true"></i></li></a>
  <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
</ul>
