<div class="container">
  <h2 class="page-title">
    projects
  </h2>

  <article>
    <!-- <p>Highlights of some projects I've worked on</p> -->
    <div class="projects">
      <div class="project-box">
        <img src="../../assets/img/elevy-canvas-3.png" alt="">
        <div class="description">
          An android app for calculating E-levy charges on transaction. This levy was recently introduced by the
          government of Ghana.
          <!-- and therefore there was a need for a solution that will help to educate the general
          public and also calculate charges that will be incurred on a particular transaction . -->
        </div>
        <div class="bottom">
          <div class="tools">
            <span class="tool">Angular</span>
            <span class="tool">Capacitor</span>    
            <span class="tool">Android</span>  
          </div>
          <div class="view-project">
            <a href="https://www.nutonlabs.com/products/e-levy-calculator" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
          </div>
        </div>        
      </div>

      <div class="project-box">
        <img src="../../assets/img/mma-landing-page.PNG" alt="">
        <div class="description">
          An ecommerce platform

        </div>
        <div class="bottom">
          <div class="tools">
            <span class="tool">Angular</span>
            <span class="tool">C#</span>
            <span class="tool">.NET</span>
          </div>
          <div class="view-project">
            <a href="https://sammyach.github.io/mma-shop/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
          </div>
        </div>        
      </div>

    </div>

    <div class="projects">
      <div class="project-box">
        <img src="../../assets/img/nuton-landing-page.PNG" alt="">
        <div class="description">
          A digital firm's website which includes different sections with on-scroll animations
        </div>
        <div class="bottom">
          <div class="tools">
            <span class="tool">Angular</span>
            <!-- <span class="tool">C#</span>
            <span class="tool">.NET</span> -->
          </div>

          <div class="view-project">
            <a href="https://www.nutonlabs.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
          </div>
        </div>
        
      </div>

      <div class="project-box">
        <img src="../../assets/img/mma-landing-page.PNG" alt="">
        <div class="description">
          An ecommerce platform

        </div>
        <div class="bottom">
          <div class="tools">
            <span class="tool">Angular</span>
            
          </div>

          <div class="view-project">
            <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

    </div>
  </article>
</div>
