.container{
  height: 100%;
  padding: 2rem 8rem;
}

:host ::ng-deep .particles-js-canvas-el{
  position: fixed;
  top: 0;
  z-index: -1;
}

header h1{
  font-size: 3rem;
  color: orange;
  // color: rgb(17, 42, 75);
  padding-bottom: 1rem;
}

header h1::before{
  content: "<";
  color: rgb(17, 42, 75);
  // color: orange;
}
header h1::after{
  content: "/>";
  color: rgb(17, 42, 75);
  // color: orange;
}


.wrapper{
  display: flex;
}

.main{
  width: 100%;
  // flex: 1;
}

// .navigation{
//   // position: absolute;
//   // animation: fromLeft 1s linear forwards;
// }

@keyframes fromLeft {
  from{right: 1px;}
  to{right: 50px;}
}

@media (max-width: 786px){
  .container{
    padding: 1rem;
  }

  .wrapper{
    flex-direction: column;
  }

  header h1{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .main{
    padding-bottom: 80px;
  }
  .navigation{
    position: fixed;
    bottom: -25px;
    left: -15px;
  }
}
