.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

p{
  padding: 1rem;
}

.name{
  font-size: 4rem;
  color: orange;
  font-family: Kaushan Script;
  animation: updown 2s linear infinite;
}

.name .first, .fa{
  color: rgb(17, 42, 75);
}

@keyframes updown{
  0%{ transform: translateY(10px);}
  50%{ transform: translateY(-10px);}
  100%{transform: translateY(10px);}
}

.job-title{
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

.fa{
  font-size: 4rem;
}
